# Final Project Submission

Please fill out:
* Student name: MARK KAMAU GITANGU
* Student pace:part time
* Scheduled project review date/time:05/11/2023
* Instructor name: 
* Blog post URL:

BOX OFFICE ANALYSIS FOR SUCCESSFUL VENTURES TO MOVIE PRODUCTION

AUTHOR:MARK KAMAU GITANGU

PROJECT OVERVIEW
The Project is aimed to help Microsoft with strategies to creating a studio for original video content production similar to other big companies. Their aim is to create a movie studio that will be able to compete with the other companies. There are available records of the best films in box office and the project aims to use this data to do an analysis of what would be the best course of action for Microsoft since it lacks expertise in the field of movie production. Microsoft needs to identify key success factors, such as genre, storyline, and production techniques, that contribute to the success of these movies. The data used comes from TheMovieDB and The Numbers which show data on genre preferences, budgets, gross revenues, release dates and movie titles available in studios. This data has been cleaned and transformed in order to produce visualizations to determine success factors and other factors that would help advice Microsoft. The methods used are majorly the removal of duplicates and irrelevant data from our main data set and the transformation through ranking using different columns to determine reasonable results based on a particular order. This also helped to remove rows of data that would otherwise burden our analysis due to their size. Based on the observations you have provided, it is seen that key success factors for movies are not limited to genres, storyline, and release date. For example, it is seen that recent releases tend to have higher grossing returns than older releases. In order to produce successful films that will appeal to audiences and generate revenue, it is important to consider a variety of factors, as well as the budget of the film. Movies with high budgets may not necessarily be successful, and vice versa. It is also important to consider the target audience and ensure that the film appeals to them. Finally, it is important to ensure that the film has a strong storyline and engaging characters.

BUSINESS UNDERSTANDING
This section discusses the business problems and questions associated with the project. The company wants to create successful movies that can compete in the current box office market, it thus needs to identify and understand the critical elements that contribute to the success of current box office hits and how to implement those elements in its own movies to ensure success in the movie industry. This section is to handle the business perspective of the project. What are the key problems and questions to consider and their importance for the business?

The pain points of Microsoft should revolve around the lack of experience in the creation of movies and their understanding of the film industry. Another issue would be in trying to develop strategies for the successful production of movies that will appeal to the audience and generate adequate revenue. This would necessitate the exploration and analysis of the data to determine highest grossing movies in recent years and the common genres of them. Some of the questions to be asked are:

1.Which are the key success factors e.g genres and storyline?
2.What types of movies have been top rated and successful in recent years?
3.What are the top grossing films in recent years and what genres do they fall under?
4.Are there any patterns and trends in terms of themes and genres?
5.What strategy can produce successful films that will appeal to audiences and generate revenue?

These questions are important from a business perspective because they provide insights that can inform decision-making around what types of films to produce, and how to market those films effectively. By understanding what has worked in the past, Microsoft's movie studio can increase their chances of creating successful films that generate revenue and appeal to audiences.

DATA UNDERSTANDING
This section is for the purpose of describing our data. The data is collected from popular sites used to analyse various aspects of movie production. These sites include Box Office Mojo, IMDB, Rotten Tomatoes, TheMovieDB, and The NUmbers. They are used to track box office revenue margins, provide information about the films and their cast as well as to provide review from critics about the movies. This project will use dta from TheNovieDB and, The Numbers. For the analysis the data will be used from two of such sources that give data on the popularity and profitability of such movies.

IMDB and The Numbers data can be used to identify trends and patterns in the movie industry. There are factors such as budget, performance, genres and reception/popularity to consider analyzing. The Numbers data can provide insights into the marketing strategies used for successful films, such as the distribution channels, release dates, and promotional campaigns. There can be opportunities to take advantage of in the data such as dates that have no diversity of the genres that are in demand but not produced. The data will help analyze feasibility and profitability of the movie industry and identify ideas that would have the biggest impact. In the data we will focus on factors such as budget, production timelines and gross margins. The next step would be to use these analyses to recommend insights and ideas to Microsoft for strategies.

DATA ANALYSIS

DATA PREPARATION

For analysis, I have used libraries that use python language as the base such as pandas, matplotlib, seaborn and even numpy. I will use these to clean, format and transform our data to ensure accuracy and consistency of data. These libraries will help to do cleaning, transformation, analysis and enable visualization of the data. This is necessary so that any errors, inaccuracies and inconsistencies can be identified and corrected. This prevents incorrect analysis from being carried out. The methods also improve accuracy of the analysis and help in the answering of the questions available in a number of ways.

In [125]:
# Importing the necessary standard library packages
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import csv

%matplotlib inline

In [126]:
import os

In [127]:
os.listdir()

['bom.movie_gross.csv',
 'imdb.name.basics.csv',
 'imdb.title.akas.csv',
 'imdb.title.basics.csv',
 'imdb.title.crew.csv',
 'imdb.title.principals.csv',
 'imdb.title.ratings.csv',
 'rt.movie_info.tsv',
 'rt.reviews.tsv',
 'tmdb.movies.csv',
 'tn.movie_budgets.csv']

In [128]:
pwd

'C:\\Users\\ADMIN\\Documents\\Flatiron\\phase-1-project\\dsc-phase-1-project\\zippedData'

In [129]:
cd zippedData

[WinError 2] The system cannot find the file specified: 'zippedData'
C:\Users\ADMIN\Documents\Flatiron\phase-1-project\dsc-phase-1-project\zippedData

In [130]:
os.listdir()

['bom.movie_gross.csv',
 'imdb.name.basics.csv',
 'imdb.title.akas.csv',
 'imdb.title.basics.csv',
 'imdb.title.crew.csv',
 'imdb.title.principals.csv',
 'imdb.title.ratings.csv',
 'rt.movie_info.tsv',
 'rt.reviews.tsv',
 'tmdb.movies.csv',
 'tn.movie_budgets.csv']

In [131]:
import gzip

In [132]:
# Unzip function
def gunzip(file_path, output_path):
    """
    Assist with unzipping the .gz files
    """
    with gzip.open(file_path, "rb") as f_in, open(output_path, "wb") as f_out: #open the
        file_content = f_in.read() #read content of the .gz file
        f_out.write(file_content) #copy content
        f_in.close() #close the file
        f_out.close() #close the file
       
        #delete the .gz file
        os.remove(file_path)

In [133]:

file_folder = os.getcwd()
for file in os.listdir():
    if file.endswith('.gz'):
        dest_file = file_folder + '/' + file
        gunzip(dest_file, dest_file.replace('.gz', ''))

In [134]:

os.getcwd()

'C:\\Users\\ADMIN\\Documents\\Flatiron\\phase-1-project\\dsc-phase-1-project\\zippedData'

In [135]:
# Connecting and reading the data for TMDB
TMDB_data = pd.read_csv("tmdb.movies.csv")
TMDB_data

,Unnamed: 0,genre_ids,id,original_language,original_title,popularity,release_date,title,vote_average,vote_count
0,0,"[12, 14, 10751]",12444,en,Harry Potter and the Deathly Hallows: Part 1,33.533,2010-11-19,Harry Potter and the Deathly Hallows: Part 1,7.7,10788
1,1,"[14, 12, 16, 10751]",10191,en,How to Train Your Dragon,28.734,2010-03-26,How to Train Your Dragon,7.7,7610
2,2,"[12, 28, 878]",10138,en,Iron Man 2,28.515,2010-05-07,Iron Man 2,6.8,12368
3,3,"[16, 35, 10751]",862,en,Toy Story,28.005,1995-11-22,Toy Story,7.9,10174
4,4,"[28, 878, 12]",27205,en,Inception,27.920,2010-07-16,Inception,8.3,22186
...,...,...,...,...,...,...,...,...,...,...
26512,26512,"[27, 18]",488143,en,Laboratory Conditions,0.600,2018-10-13,Laboratory Conditions,0.0,1
26513,26513,"[18, 53]",485975,en,_EXHIBIT_84xxx_,0.600,2018-05-01,_EXHIBIT_84xxx_,0.0,1
26514,26514,"[14, 28, 12]",381231,en,The Last One,0.600,2018-10-01,The Last One,0.0,1
26515,26515,"[10751, 12, 28]",366854,en,Trailer Made,0.600,2018-06-22,Trailer Made,0.0,1
26516,26516,"[53, 27]",309885,en,The Church,0.600,2018-10-05,The Church,0.0,1

In [136]:
# Connecting and reading data from The Numbers
TheNumbers_data = pd.read_csv("tn.movie_budgets.csv")
TheNumbers_data

,id,release_date,movie,production_budget,domestic_gross,worldwide_gross
0,1,"Dec 18, 2009",Avatar,"$425,000,000","$760,507,625","$2,776,345,279"
1,2,"May 20, 2011",Pirates of the Caribbean: On Stranger Tides,"$410,600,000","$241,063,875","$1,045,663,875"
2,3,"Jun 7, 2019",Dark Phoenix,"$350,000,000","$42,762,350","$149,762,350"
3,4,"May 1, 2015",Avengers: Age of Ultron,"$330,600,000","$459,005,868","$1,403,013,963"
4,5,"Dec 15, 2017",Star Wars Ep. VIII: The Last Jedi,"$317,000,000","$620,181,382","$1,316,721,747"
...,...,...,...,...,...,...
5777,78,"Dec 31, 2018",Red 11,"$7,000",$0,$0
5778,79,"Apr 2, 1999",Following,"$6,000","$48,482","$240,495"
5779,80,"Jul 13, 2005",Return to the Land of Wonders,"$5,000","$1,338","$1,338"
5780,81,"Sep 29, 2015",A Plague So Pleasant,"$1,400",$0,$0
5781,82,"Aug 5, 2005",My Date With Drew,"$1,100","$181,041","$181,041"

The data that has been retrieved may have inconsistencies and errors such as missing values, outdated values, outliers and irrelevant data for our analysis. To make our data more useful it is necessary to clean and transform the data so that only the necessary and accurate data may remain. Data cleaning involves checking for missing values, duplicated entries, invalid and conflicting entries. There are a number of ways to use the data provided as from it, it is possible to get descriptive statistics and the general information of the data that can help with providing insights on the course of action.

In [137]:
# Checking whether there is any missing data in our data frame from TheMOvieDB 
TMDB_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 26517 entries, 0 to 26516
Data columns (total 10 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Unnamed: 0         26517 non-null  int64
 1   genre_ids          26517 non-null  object
 2   id                 26517 non-null  int64
 3   original_language  26517 non-null  object
 4   original_title     26517 non-null  object
 5   popularity         26517 non-null  float64
 6   release_date       26517 non-null  object
 7   title              26517 non-null  object
 8   vote_average       26517 non-null  float64
 9   vote_count         26517 non-null  int64
dtypes: float64(2), int64(3), object(5)
memory usage: 2.0+ MB

In [138]:
# Checking for missing data in the data from The Numbers 
TheNumbers_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5782 entries, 0 to 5781
Data columns (total 6 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   id                 5782 non-null   int64
 1   release_date       5782 non-null   object
 2   movie              5782 non-null   object
 3   production_budget  5782 non-null   object
 4   domestic_gross     5782 non-null   object
 5   worldwide_gross    5782 non-null   object
dtypes: int64(1), object(5)
memory usage: 271.2+ KB

The above method is used to get the general information of our data frames. For example, the RangeIndex tells how many entries were available, the columns tell what variables are represented/examined, the non-null count tells how many non-null/valid values exist in the data while the 'Dtype' section tells us what type of data we're dealing with.

From the information, it is seen that both sets have complete data with no missing values but that does not mean all the data can be used. Other forms of cleaning and transformation may be needed. Some case examples are the columns that are useless to the problem statements. They can be done away with in general. We can drop the column and check the shape to confirm the new data frame that should have less columns after.

In [139]:
# Dropping our unnecessary columns in TMDB and confirming through its shape
TMDB_data.drop(['Unnamed: 0','original_language', 'original_title'],axis=1, inplace=True)
print("Shape of IMDB_data: ", TMDB_data.shape)
print("Columns now in IMDB_data: ", list(TMDB_data.columns))

Shape of IMDB_data:  (26517, 7)
Columns now in IMDB_data:  ['genre_ids', 'id', 'popularity', 'release_date', 'title', 'vote_average', 'vote_count']

In [140]:
"""
In order to check for duplicated though-out the whole data, we are going to use a method that can draw out a boolean.
This is a True or False response where any mention of True for unique values indicates a duplicate is present.
"""

TMDB_data.duplicated()
set(TMDB_data.duplicated())

{False, True}

In [141]:
# Dropping the duplicates from the data frame
TMDB_data.drop_duplicates(inplace=True)
TMDB_data.shape

(25497, 7)

In [ ]:
# Dropping rows in IMDB with less than 2000 vote counts or less that 6.0 average rating
for x in TMDB_data.index:
    if TMDB_data.loc[x, "vote_count"] < 2000 or TMDB_data.loc[x, "vote_average"] < 6.0:
        TMDB_data.drop(x, inplace=True)
        
IMDB_data

In [ ]:
# Getting the top 100 vote averages
TMDB_TopAvgVoted = TMDB_data.sort_values(by='vote_average', ascending=False).head(100)
TMDB_TopAvgVoted

In [ ]:
# Checking for duplicates in The Numbers data
TheNumbers_data.duplicated()
set(TheNumbers_data.duplicated())

In [ ]:
# Converting for the Production Budget column
TheNumbers_data['production_budget'] = TheNumbers_data['production_budget'].astype(str)
TheNumbers_data['production_budget'] = TheNumbers_data['production_budget'].str.replace('[$,]', '', regex=True)
TheNumbers_data['production_budget'] = TheNumbers_data['production_budget'].astype(int)

In [ ]:
# Converting the Domestic gross column
TheNumbers_data['domestic_gross'] = TheNumbers_data['domestic_gross'].astype(str)
TheNumbers_data['domestic_gross'] = TheNumbers_data['domestic_gross'].str.replace('[$,]', '', regex=True)
TheNumbers_data['domestic_gross'] = TheNumbers_data['domestic_gross'].astype(int)

In [ ]:
# Converting for the worlwide_gross column
TheNumbers_data["worldwide_gross"] = TheNumbers_data["worldwide_gross"].astype(str)
TheNumbers_data["worldwide_gross"] = pd.to_numeric(TheNumbers_data["worldwide_gross"].str.replace('[$,]','', regex=True), errors='coerce')
TheNumbers_data["worldwide_gross"] = TheNumbers_data["worldwide_gross"].astype(float)

In [ ]:
# Printing out the data types
print(TheNumbers_data.dtypes)

# Calling the data frame
TheNumbers_data

Data Modeling
This section is where the cleaned data can be transformed and be used to derive insights from. The data will be analyzed using a number of combinations of the available information using visualizations. This should be able to provide descriptive insights that can help us to be able to answer project questions.An example of a useful transformation is above where rows have been removed for movies that have vote counts of less than 2000. This is so that we can remain with data that has a good viewership as shown by vote counts. This provides a good demographic for analysis. Going ahead and limiting the movies to those with ratings of 6.0 and above is so that we can weed put non-performing movies and remain with those that could help give an idea of those that are doing well since those would be more useful to study. This would help advice on what can be done to get to the same level.

Given the data from The Numbers, the same approach applies as we can weed out the non-performing movies using the gross margins as well as the budget data. This will help us see which movies have higher revenue output and well as low budget costs as well as the profitability. Other iterations can be done to provide insights on trends and even popularity with the data available. Using visualization methods we can be able to observe these factors in a non-technical manner and prescribe possible ways forward.

In [ ]:
# Genre vs vote average:
fig, ax = plt.subplots(figsize=(8,6))
sns.barplot(x=TMDB_TopAvgVoted['genre_ids'].head(20), y=TMDB_TopAvgVoted['vote_average'].head(20))
plt.title('Top Voted Genres')
plt.xlabel('Genres')
plt.ylabel('Vote Averages')
plt.xticks(rotation =90)
plt.show()

In [ ]:
# Release date vs popularity:
fig, ax = plt.subplots(figsize=(8,6))
plt.plot(TMDB_TopAvgVoted['release_date'].head(20), TMDB_TopAvgVoted['popularity'].head(20))
plt.title('Preference Changes Over Time')
plt.xlabel('Release Date')
plt.ylabel('Popularity')
plt.xticks(rotation=90)
plt.show()

From the list of top 20 voted movies, we observe that there have been peaks of popularity in recent years for these top voted movies which indicates that the movie studio production methods as well as audience availability has increased. This is a good sign as it indicates that the business venture is moving on the right direction.

TMDB and The Numbers can provide insights into audience demographics, ratings, and reviews. By analyzing these factors, the head of the movie studio can identify trends and preferences in audience behavior and tailor their content accordingly.

Overall, using data from TMDB and The Numbers can help the head of Microsoft's new movie studio make informed decisions about which types of movies to create and how to market them for maximum success.

In [ ]:
# Genre vs popularity:
fig, ax = plt.subplots(figsize=(8,6))
plt.bar(TMDB_TopAvgVoted['genre_ids'].head(20), TMDB_TopAvgVoted['popularity'].sort_values(ascending=False).head(20))
plt.title('Popular Genres')
plt.xlabel('Genres')
plt.ylabel('Popularity')
plt.xticks(rotation=90)
plt.show()

In [ ]:
# Plotting for Top 20 Average Voted
fig, axes = plt.subplots(figsize=(8,6))

sns.barplot(x=TMDB_TopAvgVoted['title'].head(20), y=TMDB_TopAvgVoted['vote_average'].head(20))
plt.title('Average Voted')
plt.xlabel('Movie')
plt.ylabel('Vote average')
plt.xticks(rotation = 90)

plt.show()

In [ ]:
# Sorting data frame according to popularity
TMDB_TopPopular = TMDB_data.sort_values(by='popularity', ascending=False).head(100)
TMDB_TopPopular

In [ ]:
# Title vs Popularity
fig, axes = plt.subplots(figsize=(8,6))

sns.barplot(x=TMDB_TopPopular['title'].head(20), y=TMDB_TopPopular['popularity'].head(20))
plt.title('Popularity')
plt.ylabel('Popularity Charts')
plt.xlabel('Title')
plt.xticks(rotation = 90)

plt.show()

In [ ]:
# Filter for movies with reasonable budgets with high returns
TheNumbers_profitable = TheNumbers_data.loc[TheNumbers_data['production_budget'] > 100000]
TheNumbers_profitable

In [ ]:
# Showing movies with cheapest budget costs
fig, axes = plt.subplots(figsize=(8,6))

sns.barplot(x=TheNumbers_profitable['movie'].tail(20), y=TheNumbers_profitable['production_budget'].tail(20))
plt.title('Affordable Budgets')
plt.xlabel('Movie Title')
plt.ylabel('Budget Cost')
plt.xticks(rotation = 90)

plt.show()

In [ ]:
TheNumbers_profitable = TheNumbers_profitable.loc[TheNumbers_profitable["worldwide_gross"] > 100000000]
TheNumbers_profitable

In [ ]:
TheNum_Budgetable = TheNumbers_profitable.sort_values(by='production_budget').head(100)
TheNum_Budgetable

In [ ]:
# Production Budget vs Domestic gross
fig, axes = plt.subplots(figsize=(8,6))

sns.barplot(x=TheNumbers_profitable['domestic_gross'].head(20), y=TheNumbers_profitable['production_budget'].head(20))
plt.title('Value Returns')
plt.xlabel('Budget Costs')
plt.ylabel('Domestic Gross')
plt.xticks(rotation = 45)

plt.show()

In [ ]:
# Production Budget vs Worldwide Gross
fig, axes = plt.subplots(figsize=(8,6))

sns.barplot(x=TheNumbers_profitable['production_budget'].head(20), y=TheNumbers_profitable['worldwide_gross'].head(20))
plt.title('Worldwide Value Returns')
plt.xlabel('Budget Costs')
plt.ylabel('Worldwide Gross')
plt.xticks(rotation = 45)

plt.show()

In [ ]:
# Production Budget vs Domestic Gross
fig, axes = plt.subplots(figsize=(8,6))

sns.barplot(x=TheNum_Budgetable['production_budget'].head(20), y=TheNum_Budgetable['domestic_gross'].head(20))
plt.title('Domestic Gross against Production Costs')
plt.xlabel('Budget Costs')
plt.ylabel('Domestic Gross')
plt.xticks(rotation = 45)

plt.show()

In [ ]:
# Production Budget vs Worldwide Gross
fig, axes = plt.subplots(figsize=(8,6))

sns.barplot(x=TheNumbers_profitable['production_budget'].head(20), y=TheNumbers_profitable['worldwide_gross'].head(20))
plt.title('Worldwide Gross against Production Costs')
plt.xlabel('Budget Costs')
plt.ylabel('Wordlwide Gross')
plt.xticks(rotation = 45)

plt.show()

In [ ]:
# Movie vs Production Budget
fig, axes = plt.subplots(figsize=(8,6))

sns.barplot(x=TheNum_Budgetable['movie'].head(10), y=TheNum_Budgetable['production_budget'].head(10))
plt.title('Budget vs Movie')
plt.ylabel('Budget')
plt.xlabel('Movie')
plt.xticks(rotation = 90)

plt.show()

In [ ]:
TheNum_TopGross = TheNumbers_profitable.sort_values(by='worldwide_gross', ascending=False).head(100)
TheNum_TopGross

In [ ]:
# Movie vs Worldwide Gross
fig, axes = plt.subplots(figsize=(8,6))

sns.barplot(x =TheNum_TopGross['movie'].head(10), y =TheNum_TopGross['worldwide_gross'].head(10))
plt.title('Top Gross')
plt.xlabel('Movie')
plt.ylabel('Gross Levels')
plt.xticks(rotation = 90)

plt.show()

In [ ]:
# Getting descriptive statistics for tmdb_df data frame
TMDB_data[["popularity", "vote_average", "vote_count"]].describe()

In [ ]:
TheNumbers_profitable[["production_budget", "domestic_gross", "worldwide_gross"]].describe()

# Evaluation
This section goes through the data results and visualizations to see how well the business problem can be tackled. From the visualizations above, we can derive insights on some matters. In the bar graphs of Top Voted Genres and average voted, we are able to see that the similar ranges suggest success in the industry depends on multiple factors beyond just movie genres as there may not be a specific genre or storyline that consistently leads to success. Key success factors could be story, production quality, marketing,and even audience reception. Microsoft Studio should not rely solely on particular movies and associated genres, and need to focus on overall film quality and appeal. Instead, it may be more important to focus on creating a high-quality, engaging film regardless of the genre.

The irregular but peaking line chart in the bar chart of Preference Changes Over Time shows that recent releases tend to be more popular. This suggests that audiences may be more interested in newer movies thus focusing on latest trends and techniques to maximize popularity should work. The reason for this may be due to increased marketing efforts and a greater focus on creating visually stunning movies that appeal to modern audiences. Therefore, it may be wise to prioritize the creation of visually appealing movies with engaging storylines to maximize their chances of success.

Specific genres and movies having high popularity indicates that certain types of content resonate more with audiences. Identifying the popular genres and themes can help in developing films with market potential. Emulating the successful films can also be a strategy.The fact that they have higher popularity and gross returns than others suggests that it may be beneficial to focus on producing movies within those genres. However, it is important to note that this may change over time, so it is important to stay up to date on current trends and audience preferences.

The budget vs gross returns data shows that high cost does not guarantee high returns and vice versa. This means that an expensive, large-scale production may not be the only path to success. It is important to focus on creating a high-quality film that is engaging and resonates with audiences, regardless of budget or genre. A compelling story and strong marketing may be able to achieve good results even with a lower budget. Risks should be managed and returns should be considered when making investment decisions.

Generally, in answering our problem questions; success depends on multiple factors like story, production, and marketing; genre alone is not sufficient. Latest trends and techniques can boost popularity as shown by peak popularity of recent releases in the visualization. Certain genres/themes and emulating successful films are potential strategies due to specific high-popularity content. The budget is not the only driver of returns, as good story and marketing can be effective with lower cost as opposed to high investments with shallow content.

In [ ]:
# Your code here - remember to use markdown cells for comments as well!